<%- include('includes/head.ejs') %>
  </head>
  <body>
    <%- include('includes/navigation.ejs') %>
    <main>
      <h2 class="error__neon-text">Page Not Found!</h2>
    </main>
<%- include('includes/end.ejs') %>

